@import 'https://unpkg.com/open-props@beta.5/hues.oklch.css';
@import 'https://unpkg.com/open-props@beta.5/palette.css';

:where(html) {
	color-scheme: light;
	--palette-hue: var(--oklch-blue);
	--palette-hue-rotate-by: -5;
	--palette-chroma: 0.1;

	--surface-1: white;
	--surface-2: var(--color-gray-300);
	--surface-3: var(--color-gray-200);
	--surface-document: var(--color-gray-50);
	--text-1: var(--color-16);
	--text-2: var(--color-12);
	--scrollthumb-color: var(--text-2);

	--аccent: oklch(
		49% calc(0.19 * var(--palette-chroma, 1))
			calc(var(--palette-hue) + (9 * var(--palette-hue-rotate-by)))
	);
	--success: oklch(
		49% calc(0.19 * var(--palette-chroma, 1))
			calc(var(--hue-cyan) + (9 * var(--palette-hue-rotate-by)))
	);
	--warning: oklch(
		49% calc(0.19 * var(--palette-chroma, 1))
			calc(var(--hue-yellow) + (9 * var(--palette-hue-rotate-by)))
	);
	--info: oklch(
		49% calc(0.19 * var(--palette-chroma, 1))
			calc(var(--hue-pink) + (9 * var(--palette-hue-rotate-by)))
	);
}

@media (prefers-color-scheme: dark) {
	:where(html) {
		color-scheme: dark;
		--palette-chroma: 0.15;

		--link: oklch(90% 80% var(--palette-hue));
		--surface-1: var(--color-gray-600);
		/* --surface-2: var(--color-12); */
		--surface-2: var(--color-gray-700);
		/* --surface-3: var(--color-13); */
		--surface-3: var(--color-gray-800);
		/* --surface-document: var(--color-14); */
		--surface-document: var(--color-gray-900);
		--text-1: var(--color-1);
		--text-2: var(--color-5);
		--scrollthumb-color: var(--text-2);
	}
}

:where(:root) {
	scrollbar-color: var(--scrollthumb-color) transparent;
	accent-color: var(--brand, var(--link));
	caret-color: var(--brand, var(--link));
}
