@tailwind base;
@tailwind components;
@tailwind utilities;

.mui-menu {
	@apply z-10 flex max-h-[300px] min-w-[220px] flex-col shadow-sm;
	@apply rounded-md bg-base-300 p-1 shadow-base-content lg:max-h-none;
	@apply ring-0 !important;
}
