@import './app-open-props.css';
@import './app-my-styles.css';
@import 'tailwindcss';

@theme {
	--font-family-sans: 'Nunito Sans Variable', ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';

	--color-link: var(--link);
	--color-link-visited: var(--link-visited);
	--color-surface-1: var(--surface-1);
	--color-surface-2: var(--surface-2);
	--color-surface-3: var(--surface-3);
	/* --color-surface-3: light-dark(var(--color-red-500), var(--color-red-800)); */
	/* --color-surface-document: light-dark(var(--color-zink-500), var(--color-slate-800)); */
	--color-surface-document: var(--surface-document);
	--color-well-1: var(--well-1);
	--color-well-2: var(--well-2);
	--color-ink-1: var(--text-1);
	--color-ink-2: var(--text-2);

	/* Default background color of <body />...etc */
	--color-background: light-dark(var(--color-zinc-100), var(--color-gray-900));
	--color-foreground: light-dark(var(--color-zinc-950), var(--color-white));
	/* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
	--color-muted: light-dark(var(--color-zinc-500), var(--color-gray-700));
	--color-muted-foreground: light-dark(var(--color-zinc-500), var(--color-gray-400));
	/* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
	--color-popover: light-dark(var(--color-zinc-100), var(--color-gray-900));
	--color-popover-foreground: light-dark(var(--color-zinc-950), var(--color-white));
	/* Background color for <Card /> */
	--color-card: light-dark(var(--color-white), var(--color-gray-800));
	--color-card-foreground: light-dark(var(--color-gray-900), var(--color-gray-200));
	/* Default border color */
	--color-border: light-dark(var(--color-zinc-200), var(--color-gray-700));
	/* Border color for inputs such as <Input />, <Select />, <Textarea /> */
	--color-input: light-dark(var(--color-gray-300), var(--color-gray-600));
	/* Primary colors for <Button /> */
	--color-primary: light-dark(var(--color-indigo-300), var(--color-indigo-800));
	--color-primary-foreground: light-dark(var(--color-zinc-900), var(--color-gray-200));
	/* Secondary colors for <Button /> */
	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));
	/* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
	--color-accent: light-dark(var(--color-zinc-100), var(--color-gray-800));
	--color-accent-foreground: light-dark(var(--color-zinc-100), var(--color-white));
	/* Used for destructive actions such as <Button variant='destructive'> */
	--color-destructive: light-dark(var(--color-pink-300), var(--color-pink-800));
	--color-destructive-foreground: light-dark(var(--color-zinc-900), var(--color-gray-200));
	/* Used for focus ring */
	--color-ring: oklch(30% 100% var(--palette-hue));
	/* --color-ring: hsl(215 20.2% 65.1%); */
	/* Border radius for card, input and buttons */
	--radius: var(--radius-md);
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply bg-background text-foreground;
	}
}
@layer base {
	input,
	textarea,
	select,
	button {
		border: 0px solid;
		border-radius: 0;
		padding: 0;
		color: inherit;
		background-color: transparent;
	}
}
