[data-scope='number-input'][data-part='label'],
[data-scope='select'][data-part='label'] {
	font-size: var(--text-sm) /* 0.875rem = 14px */;
	line-height: var(--tw-leading, var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.428571 */);
	--tw-font-weight: var(--font-weight-medium) /* 500 */;
	font-weight: var(--font-weight-medium) /* 500 */;
	--tw-leading: 1;
	line-height: 1;
	/* 	&:is(:where(.peer):disabled ~ *) {
		cursor: not-allowed;
	}
	&:is(:where(.peer):disabled ~ *) {
		opacity: 70%;
	} */
}

[data-scope='number-input'][data-part='increment-trigger'],
[data-scope='number-input'][data-part='decrement-trigger'] {
	cursor: pointer;
	color: var(--muted-foreground);
	transition-property:
		color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	&:hover {
		@media (hover: hover) {
			background-color: var(--background);
			color: var(--foreground);
		}
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
		@media (hover: hover) {
			background-color: var(--transparent);
		}
	}
}
